<!-- Validation failure messages -->
<% if @court.errors.any? %>
  <% @court.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Court</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_court" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @court.location %>">
      </div>

      <button class="btn btn-success">
        Create Court
      </button>
      or
      <a href="/courts">Cancel</a>
    </form>
  </div>
</div>
